<h2>Users</h2>

<p-table [value]="users" responsiveLayout="scroll" sortField="isAdmin" [sortOrder]=-1 [loading]="loading" [showLoader]="false">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                ID
                <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th>Version</th>
            <th pSortableColumn="firstName">
                First
                <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th pSortableColumn="lastName">
                Last
                <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <th pSortableColumn="wikiName">
                Wiki
                <p-sortIcon field="wikiName"></p-sortIcon>
            </th>
            <th>Locked</th>
            <th>Qualifications</th>
            <th>Instructor</th>
            <th pSortableColumn="isAdmin">
                Admin
                <p-sortIcon field="isAdmin"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.aggregateVersion}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.wikiName}}</td>
            <td>{{user.locked}}</td>
            <td>{{user.memberQualifications}}</td>
            <td>{{user.instructorQualifications}}</td>
            <td>{{user.isAdmin}}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="loadingbody">
        <tr *ngFor="let _ of [].constructor(5)">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
    </ng-template>
</p-table>
