<p-table [value]="(devices$ | async)!"
         [loading]="(loading$ | async)! === 'LOADING'"
         [showLoader]="false"
         [lazy]="false"
         styleClass="p-datatable-m"
         responsiveLayout="scroll"
         selectionMode="single"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center">
            <button pButton label="Add Device" routerLink="/device/add"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Attached Tools</th>
            <th>Firmware</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-device>
        <tr routerLink="/device/{{device.id}}" class="cursor-pointer">
            <td>{{device.name}}</td>
            <td>{{device.attachedTools | attachedToolNames}}</td>
            <td
                [style.color]="device.actualFirmwareVersion !== device.desiredFirmwareVersion ? 'var(--red-500)' : 'var(--surface-900)'"
            >
                {{device.actualFirmwareVersion ?? "-"}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="loadingbody">
        <tr *ngFor="let _ of [].constructor(5)">
            <td>
                <p-skeleton></p-skeleton>
            </td>
            <td>
                <p-skeleton></p-skeleton>
            </td>
        </tr>
    </ng-template>
</p-table>
