<h2>Login</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <span class="p-float-label">
        <input id="username-input" type="text" formControlName="username" pInputText>
        <label for="username-input">Username</label>
    </span>
    <br>
    <span class="p-float-label">
        <input id="password-input" type="password" formControlName="password" [feedback]="false" pPassword>
        <label for="password-input">Password</label>
    </span>
    <br>
    <button pButton type="submit" [disabled]="!form.valid">Login</button>
</form>
<div id="errors">{{error}}</div>
