a {
    color: inherit;
    text-decoration: inherit;
}
.border-500 {
    border-color: var(--surface-500) !important;
}
.hover\:border-primary:hover {
    border-color: var(--primary-color) !important;
}
