<div class="flex w-full justify-content-between flex-wrap surface-card shadow-2 z-5 relative">
    <h1 class="flex align-items-center justify-content-start line-height-1 text-2xl px-3 cursor-pointer outline-none"
        routerLink="">fabX</h1>

    <ng-container *ngIf="loggedInUser$ | async as loggedInUser">
        <a class="flex align-items-center px-3 py-3 border-bottom-2 border-transparent hover:border-primary transition-duration-150"
           [routerLink]="['/user']" routerLinkActive="border-500">Users</a>
        <a class="flex align-items-center px-3 py-3 border-bottom-2 border-transparent hover:border-primary transition-duration-150"
           [routerLink]="['/tool']" routerLinkActive="border-500">Tools</a>
        <a class="flex align-items-center px-3 py-3 border-bottom-2 border-transparent hover:border-primary transition-duration-150"
           [routerLink]="['/qualification']" routerLinkActive="border-500">Qualifications</a>
        <a class="flex align-items-center px-3 py-3 border-bottom-2 border-transparent hover:border-primary transition-duration-150"
           [routerLink]="['/device']" routerLinkActive="border-500">Devices</a>

        <div class="flex-grow-1"></div>
        <div>
            <span
                class="flex flex-grow-1 align-items-center block h-full cursor-pointer px-3 hover:surface-200 transition-duration-150"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <i class="pi pi-user text-2xl mr-2 py-3"></i>
                <span>{{loggedInUser.firstName}}</span>
            </span>

            <div class="hidden absolute surface-card shadow-2 right-0 p-3 z-5">
                <button pButton label="Logout" (click)="onLogout()"></button>
            </div>
        </div>
    </ng-container>
</div>

