<div class="surface-card shadow-2 w-full md:w-9 my-5 mx-auto p-4 border-round">
    <div class="grid">
        <h2 class="col-12 md:col-offset-2 md:col-10 mb-0 text-xl pl-3">Add Device</h2>

        <div class="col-12 md:col-2 md:pt-3">
            <div class="pl-2 md:pl-0 text-sm uppercase text-500 font-medium overflow-hidden text-overflow-ellipsis">
                Identity
            </div>
        </div>

        <div class="col-12 md:col-10">
            <div class="formgrid p-fluid">
                <div class="col-12">
                    <zxing-scanner [formats]="[QR_CODE]" *ngIf="qrScanning"
                                   (scanSuccess)="onQrSuccess($event)"></zxing-scanner>
                    <button label="Scan QR Code"
                            icon="pi pi-qrcode"
                            pButton
                            (click)="enableQrScanning()"
                    >
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-2 md:pt-3"></div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" style="display: contents">

            <div class="col-12 md:col-10">
                <div class="formgrid p-fluid">

                    <div class="field col-12">
                        <label for="mac" class="font-medium text-900">MAC</label>
                        <input id="mac" formControlName="mac" type="text" pInputText>
                    </div>

                    <div class="field col-12">
                        <label for="secret" class="font-medium text-900">Secret</label>
                        <input id="secret" formControlName="secret" type="text" pInputText>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-2 md:pt-3">
                <div class="pl-2 md:pl-0 text-sm uppercase text-500 font-medium overflow-hidden text-overflow-ellipsis">
                    Details
                </div>
            </div>
            <div class="col-12 md:col-10">
                <div class="formgrid p-fluid">
                    <div class="field col-12">
                        <label for="name" class="font-medium text-900">Name</label>
                        <input id="name" formControlName="name" type="text" pInputText>
                    </div>

                    <div class="field col-12">
                        <label for="background" class="font-medium text-900">Background URL</label>
                        <input id="background" formControlName="background" type="text" pInputText>
                    </div>

                    <div class="field col-12">
                        <label for="backupBackendUrl" class="font-medium text-900">Backup Backend URL</label>
                        <input id="backupBackendUrl" formControlName="backupBackendUrl" type="text" pInputText>
                    </div>

                    <div *ngIf="error" class="field col-12 my-0">
                        <p-messages severity="error">
                            <ng-template pTemplate="">
                                <div class="ml-2">{{error}}</div>
                            </ng-template>
                        </p-messages>
                    </div>

                    <div class="field mb-4 col-12">
                        <button type="submit" label="Add" icon="pi pi-plus" pButton class="w-auto"
                                [disabled]="!form.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
