/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

body {
    background-color: var(--surface-a);
    font-family: var(--font-family);
    color: var(--text-color);
}
