<div class="surface-card shadow-2 w-full md:w-9 my-5 mx-auto p-4 border-round">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid">
            <h2 class="col-12 md:col-offset-2 md:col-10 mb-0 text-xl pl-3">Edit Tool</h2>


            <div class="col-12 md:col-2 md:pt-3">
                <div class="pl-2 md:pl-0 text-sm uppercase text-500 font-medium overflow-hidden text-overflow-ellipsis">
                    About
                </div>
            </div>
            <div class="col-12 md:col-10">
                <div class="formgrid p-fluid">
                    <div class="field col-12">
                        <label for="name" class="font-medium text-900">Name</label>
                        <input id="name" formControlName="name" type="text" pInputText>
                    </div>
                    <div class="field col-12">
                        <label for="wikiLink" class="font-medium text-900">Wiki Link</label>
                        <input id="wikiLink" formControlName="wikiLink" type="text" pInputText>
                    </div>
                    <div class="field col-12">
                        <label for="requiredQualifications" class="font-medium text-900">Required Qualifications</label>
                        <p-multiSelect id="requiredQualifications"
                                       formControlName="requiredQualifications"
                                       [options]="(qualifications$ | async) || []"
                                       optionLabel="name"
                                       optionValue="id"
                                       placeholder="Select Required Qualifications"
                        ></p-multiSelect>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-2 md:pt-3">
                <div class="pl-2 md:pl-0 text-sm uppercase text-500 font-medium overflow-hidden text-overflow-ellipsis">
                    Status
                </div>
            </div>
            <div class="col-12 md:col-10">
                <div class="formgrid p-fluid">
                    <div class="field col-12">
                        <label for="enabled" class="font-medium text-900">Enabled</label>
                        <div class="inputfield w-full flex align-items-center">
                            <p-checkbox
                                id="enabled"
                                styleClass="my-2"
                                [binary]="true"
                                [formControl]="enabledForm">
                            </p-checkbox>
                        </div>
                    </div>
                    <div class="field col-12">
                        <label for="notes" class="font-medium text-900">Notes</label>
                        <input id="notes" formControlName="notes" type="text" pInputText>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-2 md:pt-3">
                <div class="pl-2 md:pl-0 text-sm uppercase text-500 font-medium overflow-hidden text-overflow-ellipsis">
                    Setup
                </div>
            </div>
            <div class="col-12 md:col-10">
                <div class="formgrid p-fluid">

                    <div class="field col-12">
                        <label for="type" class="font-medium text-900">Type</label>
                        <p-dropdown id="type"
                                    formControlName="type"
                                    [options]="types"
                                    placeholder="Select a Type"
                                    [showClear]="true"
                        ></p-dropdown>
                    </div>

                    <div class="field col-12">
                        <label for="requires2FA" class="font-medium text-900">Requires 2FA</label>
                        <div class="inputfield w-full flex align-items-center">
                            <p-checkbox
                                id="requires2FA"
                                styleClass="my-2"
                                [binary]="true"
                                [formControl]="requires2FAForm">
                            </p-checkbox>
                        </div>
                    </div>

                    <div class="field col-12">
                        <label for="time" class="font-medium text-900">Time</label>
                        <p-inputNumber id="time"
                                       formControlName="time"
                                       suffix="ms"
                                       [min]="0"
                        ></p-inputNumber>
                    </div>

                    <div class="field col-12">
                        <label for="idleState" class="font-medium text-900">Idle State</label>
                        <p-dropdown id="idleState"
                                    formControlName="idleState"
                                    [options]="idleStates"
                                    placeholder="Select an Idle State"
                                    [showClear]="true"
                        ></p-dropdown>
                    </div>

                    <div *ngIf="error" class="field col-12 my-0">
                        <p-messages severity="error">
                            <ng-template pTemplate="">
                                <div class="ml-2">{{error}}</div>
                            </ng-template>
                        </p-messages>
                    </div>


                    <div class="field mb-4 col-12">
                        <button type="submit" label="Save" icon="pi pi-check" pButton class="w-auto"
                                [disabled]="!form.valid"></button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
